@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: #f0f1f2;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
}

input:hover{
	cursor: pointer;
}
select:hover{
	cursor: pointer;
}

tabela{
	padding: 10px;
}
input{
	border: none;
	font-size: 18px;
}
select{
	border: none;
	font-size: 18px;
}

.primeiraLinha{
	width: 100%;
	height: 50px;
	text-align: center;
	
}
input[type="submit"]{
	margin-top: 10px;
	width: 20%;
	height: 50px;
	border-radius: 4%;
	background: #0070A8;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
}

.tituloBaixo{
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
.cadastrado{
	margin-left: 5px;
	text-decoration: none;
	color: #01778F;
}
.table-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
}
.table{
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
	width: 100%;
	height: 100%;
}
th{
	height: 80px;
}
td{
	width: 25%;
	height: 50px;
}
.principal-row{
	text-align: left;
}

.th-right{
	text-align: center;
}
.td-right{
	text-align: center;
}
.a{
	width: 40%;
	height: 40px;
	color: #002478;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
}
.button:hover{
	color: #0070A8;
}
