@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
	--cor-principal: #002478;
	--cor-secundaria: #01778F;
	--cor-teciaria: #0070A8;
	--cor-background: #f0f1f2;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

header nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8vh;
}
header nav .logo{
	color: #fff;
	font-size: 45px;
	letter-spacing: 4px;
	text-decoration: none;
	font-weight: 600;
}
header nav .logo:hover{
	color: var(--cor-principal);
}

header nav ul li a{
	color: #fff;
	font-size: 15px;
	letter-spacing: 4px;
	font-weight: 500;
	text-decoration: none;
}
header nav ul li a:hover{
	font-weight: 900;
}
header nav ul{
	list-style: none;
	display: flex;
}
header nav ul li{
	letter-spacing: 3px;
	margin-left: 32px;
}
main{
	background-color: #303F9F;
	background-size: cover;
	height: 55vh;
}
.texto_meio{
	margin-top: 150px;
	text-align: center;
}
.texto_principal{
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.texto_secundario{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}
.saiba_mais{
	text-align: center;
	margin-top: 30px;
}
.botao_meio{
	background-color: white;
	border: 2px solid #0070A8;;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	color: #0070A8;	
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
}
.botao_meio:hover{
	font-weight: 900;
	border: 3px solid #0070A8;

}
.texto_final{
	margin-top: 50px;
	text-align: center;
}
.texto_principal_final{
	color: #222;
	font-size: 40px;
	font-weight: 700;
}
.texto_secundario_final{
	color: rgb(107, 107, 107);
	font-size: 20px;
	font-weight: 600;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
}
.rodape{
	background-color: #303F9F;
	display: flex;
	justify-content: space-around;
}
ion-icon{
	font-size: 50px;
	color: #fff;
}
.perfil{
	color: #fff;
}
.logout ion-icon:hover{
	color: var(--cor-principal);
}
